.App {
  text-align: center;
}

.navbar {
  width:100%;
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    #8ECAE6 0%, #219EBC 40%, #FFB703 60%, #FB8500 100%
  );
  background-size: 200% 200%;
  animation: movingGradient 6s linear infinite alternate;

}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.nav {
  display: flex;
  justify-content: end;
  font-size: 25px;
}

.navLink {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color:#023047;
  font-weight: 600;
}

.navLink:hover {
  color: whitesmoke;
}

.navTitle {
  text-decoration: none;
  font-size: 32px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  color:#023047;
  font-weight:bold;
}